<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>线性回归</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <style>
        .h1, h1 {
    font-size: 36px;
    text-align: center;
}
p {
    margin: 0 0 10px;
    text-align: center;
}

    </style>
</head>
<body class="register">

<div id="large-header" class="large-header">
    <div class="logo_box">
        <h1>统计和图形</h1>
        {% for x in uu %}
        <p>{{x}}</p><br>
        {% endfor %}
        <div>
            <center>
                <img src="http://localhost:63342/君道笔试/cache.png" width="640" height="480">
            </center>
        </div>
    </div>
</div>
</body>
</html>